<h1>Photo Details</h1>
<p><%= @photo.caption %></p>
<img src=<%= @photo.source %> alt="<%= @photo.caption %>">
<p><%= @time %> ago</p>
<li><a href="/photos">Go back</a></li>
<li><a href="/photos/<%= @photo.id %>/edit">Edit</a></li>
<li><a href="/delete_photo/<%= @photo.id %>">Delete</a></li>